 .style1{     
     
                     border :1px solid #7EA3D5;
                     margin-left:10px;
                     margin-right:10px;
                     padding-left:10px;
                     padding-top: 20px;
                     padding-bottom: 20px;
                     background-color:#CCCC99;
                     font-family: 'Satisfy', cursive;
                     font-size:28px;
                     color:#A6D929B;

 } 
 .style2{
                   background-color:#CCCC99;
                   font-size:16px;
 }
            /*
             .
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Aug, 2019, 1:23:20 PM
    Author     : developer
*/

