/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Aug, 2019, 2:26:34 PM
    Author     : developer
*/

.style1{ border :1px solid black;

         border-left-width:7px;
         border-right-width:7px;
         border-top-width:4px;
         border-bottom-width:4px;
         margin-left:10px;
         margin-right:10px;
         padding-left:10px;
         padding-top:20px;
         padding-bottom:20px;

         background-color:#A0596B;


         font-family: 'Courgette', cursive;;
         font-size:28px;
         color:#A6D929B;


}